In [1]:
get_ipython().magic('pylab inline')

Populating the interactive namespace from numpy and matplotlib

Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
train = pd.read_csv("C:/Users/satya/Desktop/AV Learnup/train.csv") #Reading the dataset in a dataframe using Pandas

In [4]:
test = pd.read_csv("C:/Users/satya/Desktop/AV Learnup/test.csv")

## Data Exploration

In [5]:
train.head(10)

,ID,Sex,Age,Address,Famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Higher,Internet,Romantic,Famrel,Freetime,Goout,Health,Absences,Grade,Walc
0,1,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,3,6,6,0
1,4,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,5,2,15,0
2,6,M,16,U,LE3,T,4,3,services,other,...,yes,yes,no,5,4,2,5,10,15,0
3,7,M,16,U,LE3,T,2,2,other,other,...,yes,yes,no,4,4,4,3,0,11,0
4,8,F,17,U,GT3,A,4,4,other,teacher,...,yes,no,no,4,1,4,1,6,6,0
5,9,M,15,U,LE3,A,3,2,services,other,...,yes,yes,no,4,2,2,1,0,19,0
6,10,M,15,U,GT3,T,3,4,other,other,...,yes,yes,no,5,5,1,5,0,15,0
7,12,F,15,U,GT3,T,2,1,services,other,...,yes,yes,no,5,2,2,4,4,12,0
8,13,M,15,U,LE3,T,4,4,health,services,...,yes,yes,no,4,3,3,5,2,14,1
9,14,M,15,U,GT3,T,4,3,teacher,other,...,yes,yes,no,5,4,3,3,2,11,0

In [6]:
train.describe()

,ID,Age,Medu,Fedu,Traveltime,Studytime,Failures,Famrel,Freetime,Goout,Health,Absences,Grade,Walc
count,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000,637.000000
mean,524.729984,16.723705,2.673469,2.458399,1.475667,1.987441,0.281005,3.963893,3.189953,3.138148,3.519623,4.679749,11.312402,0.372057
std,298.713635,1.249762,1.106074,1.093252,0.716904,0.816400,0.698944,0.899134,1.030979,1.155955,1.418102,6.109672,3.965819,0.483733
min,1.000000,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,266.000000,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,3.000000,0.000000,10.000000,0.000000
50%,531.000000,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,4.000000,2.000000,11.000000,0.000000
75%,785.000000,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,5.000000,7.000000,14.000000,1.000000
max,1044.000000,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,56.000000,20.000000,1.000000

describe() function shows details about numeric columns. But for categorical columns we can get frequency distribution

In [10]:
train['Sex'].value_counts()

F    361
M    276
Name: Sex, dtype: int64

## Building a Predictive Model in Python

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
var_mod = ['Sex','Pstatus','Mjob','Fjob','Studytime','Famrel','Goout','Health']

In [13]:
number = LabelEncoder()

In [14]:
for i in var_mod:
    train[i] = number.fit_transform(train[i])

In [15]:
var_mod2 = ['Sex','Pstatus','Mjob','Fjob','Studytime','Famrel','Goout','Health']

In [16]:
for i in var_mod2:
    test[i] = number.fit_transform(test[i])

In [17]:
from sklearn.cross_validation import KFold   #For K-fold cross validation
import sklearn.ensemble #For randomForest
from sklearn import metrics

In [18]:
predictors= ['Age','Sex','Pstatus','Mjob','Fjob','Studytime','Famrel','Goout','Health']

In [21]:
x_train = train[predictors].values
y_train = train['Walc'].values

In [22]:
model = sklearn.ensemble.RandomForestClassifier(n_estimators=100)
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [23]:
featimp = pd.Series(model.feature_importances_, index=predictors).sort_values(ascending=False)

print (featimp)

Goout        0.173031
Age          0.145210
Mjob         0.134565
Health       0.124059
Famrel       0.106766
Fjob         0.102393
Sex          0.092017
Studytime    0.088265
Pstatus      0.033695
dtype: float64

In [24]:
#Generic function for making a classification model and accessing performance:

In [25]:
def classification_model(model, data, predictors, outcome):
  #Fit the model:
  model.fit(data[predictors],data[outcome])
  
  #Make predictions on training set:
  predictions = model.predict(data[predictors])
  
  #Print accuracy
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  print ("Accuracy : %s " % "{0:.3%}".format(accuracy))

  #Perform k-fold cross-validation with 5 folds
  kf = KFold(data.shape[0], n_folds=5)
  error = []
  for train, test in kf:
    # Filter training data

    train_predictors = (data[predictors].iloc[train,:])
    
    # The target we're using to train the algorithm.
    train_target = data[outcome].iloc[train]
    
    # Training the algorithm using the predictors and target.
    model.fit(train_predictors, train_target)
    
    #Record error from each cross-validation run
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print ("Cross-Validation Score : %s " % "{0:.3%}".format(np.mean(error)))

  #Fit the model again so that it can be refered outside the function:
  model.fit(data[predictors],data[outcome])

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
model = RandomForestClassifier(n_estimators=25, min_samples_split=25, max_depth=7, max_features=1)

In [28]:
predictor_var = ['Gout','Age','Mjob','Health','Famrel','Fjob']

In [29]:
classification_model(model, train,predictor_var,outcome_var)

NameError: name 'outcome_var' is not defined

In [30]:
predictor_var

['Gout', 'Age', 'Mjob', 'Health', 'Famrel', 'Fjob']

In [32]:
outcome_var = ['Walc']

In [34]:
classification_model(model, train,predictor_var,outcome)

NameError: name 'outcome' is not defined

In [35]:
classification_model(model, train,predictor_var,outcome_var)

KeyError: "['Gout'] not in index"

In [36]:
predictor_var = ['Goout','Age','Mjob','Health','Famrel','Fjob']

In [37]:
classification_model(model, train,predictor_var,outcome_var)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  app.launch_new_instance()
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Accuracy : 75.039%
Cross-Validation Score : 69.708%

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:32: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [38]:
var_mod = ['Sex','Pstatus','Mjob','Fjob','Studytime','Famrel','Goout','Health','Medu','Fedu','Failures','Freetime','Absences','Grade']
number = LabelEncoder()
for i in var_mod:
    train[i] = number.fit_transform(train[i])

In [39]:

var_mod2 = ['Sex','Pstatus','Mjob','Fjob','Studytime','Famrel','Goout','Health','Medu','Fedu','Failures','Freetime','Absences','Grade']
for i in var_mod:
    test[i] = number.fit_transform(test[i])

In [40]:
predictors=['Sex','Pstatus','Mjob','Fjob','Studytime','Famrel','Goout','Health','Medu','Fedu','Failures','Freetime','Absences','Grade']
x_train = train[predictors].values
y_train = train['Walc'].values
model = sklearn.ensemble.RandomForestClassifier(n_estimators=100)
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [41]:
featimp = pd.Series(model.feature_importances_, index=predictors).sort_values(ascending=False)

print (featimp)

Goout        0.128515
Grade        0.115956
Absences     0.105890
Sex          0.083387
Health       0.076472
Freetime     0.068070
Mjob         0.066760
Famrel       0.065528
Studytime    0.063748
Medu         0.062122
Fjob         0.061161
Fedu         0.060682
Failures     0.024830
Pstatus      0.016878
dtype: float64

In [42]:
predictor_var = ['Gout','Grade','Absences','Sex','Health','Freetime','Mjob','Famrel','Studytime','Medu','Fjob','Fedu']

In [43]:
classification_model(model, train,predictor_var,outcome_var)

KeyError: "['Gout'] not in index"

In [44]:
predictor_var = ['Goout','Grade','Absences','Sex','Health','Freetime','Mjob','Famrel','Studytime','Medu','Fjob','Fedu']

In [45]:
classification_model(model, train,predictor_var,outcome_var)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  app.launch_new_instance()
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Accuracy : 100.000%

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Cross-Validation Score : 79.747%

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:32: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [46]:
test.head(10)

,ID,Sex,Age,Address,Famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Nursery,Higher,Internet,Romantic,Famrel,Freetime,Goout,Health,Absences,Grade
0,2,0,17,U,GT3,1,1,1,0,2,...,no,yes,yes,no,4,2,2,2,4,2
1,3,0,15,U,LE3,1,1,1,0,2,...,yes,yes,yes,no,3,2,1,2,10,6
2,5,0,16,U,GT3,1,3,3,2,2,...,yes,yes,no,no,3,2,1,4,4,6
3,11,0,15,U,GT3,1,4,4,4,1,...,yes,yes,yes,no,2,2,2,1,0,5
4,15,1,15,U,GT3,0,2,2,2,2,...,yes,yes,yes,yes,3,4,1,2,0,12
5,17,0,16,U,GT3,1,4,4,3,3,...,yes,yes,yes,no,2,1,2,1,6,10
6,21,1,15,U,GT3,1,4,3,4,2,...,yes,yes,yes,no,3,3,0,0,0,11
7,22,1,15,U,GT3,1,4,4,1,1,...,yes,yes,yes,no,4,3,1,4,0,11
8,26,0,16,U,GT3,1,2,2,3,3,...,no,yes,yes,no,0,1,1,4,13,4
9,27,1,15,U,GT3,1,2,2,2,2,...,yes,yes,yes,no,3,1,1,4,2,7

In [47]:
test_predictors = ['Goout','Grade','Absences','Sex','Health','Freetime','Mjob','Famrel','Studytime','Medu','Fjob','Fedu']

In [48]:
x_test = test[test_predictors].values

In [49]:
predicted= model.predict(x_test)

In [50]:
predicted = number.inverse_transform(predicted)

In [51]:
test['Walc']=predicted

In [52]:
test.to_csv("C:/Users/satya/Desktop/AV Learnup/Submission.csv",columns=['ID','Walc'])

In [53]:
predicted= model.predict(x_test)

In [54]:
test['Walc']=predicted

In [55]:
test.to_csv("C:/Users/satya/Desktop/AV Learnup/Submission.csv",columns=['ID','Walc'])